$p0: #E4E2F0;
$p0-5: #D4D1E3;
$p1: #C3C0D6;
$p1-5: #B3B0CA;
$p2: #A39FBD;
$p3: #827DA3;
$p4: #625C8A;
$p5: #413A70;
$p6: #342E5A;
$p7: #272343;
$p8: #1A172D;
$p8-5: #141122;
$p9: #0D0C16;
$p9-5: #070608;
$p10: #000000;

$s0: #FFFFFF;
$s0-5: #FFFAE6;
$s1: #FFEACC;
$s1-5: #FEDF83;
$s2: #FEDA99;
$s3: #FEBF66;
$s4: #FDA933;
$s5: #FD9400;
$s6: #FA7800;
$s7: #996900;
$s8: #653B00;
$s8-5: #4C2C00;
$s9: #331E00;
$s9-5: #190F00;
$s10: #000000;